extends container
block content
    p Hi, #{userName}.
    p Your apartment in #{country} in #{city} on #{street} street, was booked by #{clientName} #{clientLastname} for a period: from #{startDate} to #{endDate} for #{number} people.